
  .container{
    margin-top: 50px;
    min-height:100%;
   
  }

  .main{
    padding-top: .75em;
    /* padding-left: 1em; */
  }

  NavLink , a{
    margin: 10px;
   
}

.center{
  text-align: center;
  /* width: 2800px; */
  height: 700px;
}

.blank{
  width: 2800px;
  height: 100px;
}


body {
 
  font-family: helvetica neue,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.65;
    color: #666;
    display: block;
    /* margin-bottom: 60px; */
    /* background-image: url("./images/img8.png"); */
}

/* .main{
  width: 2800px;
  height: 100px;
} */

.navigation-bar {
 
  background: linear-gradient(to right, #1086d4 0%, #0ad8ce 100%);
  padding-top: 20px;
  /* background: #091b1b; */
  color: white;
  text-align: center;
  position: sticky-top;
  left: 0;
  top: 0;
  width: 100%;
  text-decoration-line: none;

}

.footer {
  padding-top: 20px;
  background: #091b1b;
  color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-decoration-line: none;
}

.home-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.copyright{
  padding-top: 10px;
}

.login-card{
    width: 350 px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    padding: 5em;
  }

